{% load static %}

<li>
    <article class="post">
        <a href="">
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="Hiking">
            <div class="post__content">
                <h3>
                    Mountain Hiking
                </h3>
                <p>There's nothing like the views you get in hiking. And getting fresh air is good for you.</p>
                <p>My goal is to keep on growing as a developer.</p>
            </div>
        </a>
    </article>
</li>