{% extends 'base.html' %}
{% load static %}

{% block title %} This Post Title {% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock css_files %}

{% block content %}
    <section id="summary">
        <h2>Post Title</h2>
            <article>
                <img src="{% static 'blog/images/mountains.jpg' %}" alt="Post Title" />
                <address>By Garret</address>
                <div>
                    Last updated on <time>July 10</time>
                </div>
            </article>
    </section>

    <main> 
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium amet corrupti maiores natus. Voluptas doloremque cum aperiam maxime. Porro libero possimus aliquid ex eos neque enim explicabo velit voluptatum minima.
    </p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium amet corrupti maiores natus. Voluptas doloremque cum aperiam maxime. Porro libero possimus aliquid ex eos neque enim explicabo velit voluptatum minima.
    </p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium amet corrupti maiores natus. Voluptas doloremque cum aperiam maxime. Porro libero possimus aliquid ex eos neque enim explicabo velit voluptatum minima.
    </p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium amet corrupti maiores natus. Voluptas doloremque cum aperiam maxime. Porro libero possimus aliquid ex eos neque enim explicabo velit voluptatum minima.
    </p>
    </main>
{% endblock content %}